.pitchDetectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.frequencyDisplay {
  margin: 80px;
}

.submarine {
  padding: 15px 20px;
  margin-top: 20px;
  background-color: aquamarine;
  color: #000;
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.submarine a {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.frequencyListener {
  display: flex;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: rgb(255, 247, 247);
  border: 1px solid #000;
  border-radius: 100%;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
  pointer-events: all;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 1px 1px 1px #eee;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.minting {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 50px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  color: #000;
}

.minting::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -200%;
  top: -140%;
  width: 500%;
  height: 400%;
  background-color: rgb(195, 255, 235);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(transparent, #00e196, transparent 30%);
  animation: rotate 4s linear infinite;
}

.minting::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: rgb(195, 255, 235);
  border-radius: 5px;
}

.conic {
  cursor: not-allowed;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 2rem;
  background-color: rgb(255, 247, 247);
  border: 2px solid rgb(255, 247, 247);
}

.conic::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    transparent,
    rgb(251, 90, 50),
    transparent 30%
  );
  animation: rotate 3s linear infinite;
}

.conic::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  background: rgb(255, 247, 247);
  border-radius: 100%;
  animation: opacityChange 3s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes opacityChange {
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
