.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.eth-address-input {
  width: 300px;
  padding: 10px;
}

.MetaMask-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MetaMask-container button {
  padding: 15px 20px;
  margin: 15px 0;
  background-color: aquamarine;
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.MetaMask-container button:hover {
  background-color: rgb(205, 255, 238);
}

.MetaMask-container span {
  color: #fff;
  font-size: 16px;
}
